<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div>
        <h1 class="h1">Sign Up!</h1>
        <% if (messages) { %>
            <p><%= messages.error %></p>
            <% } %>
        <form action="/register" method ="POST" class="main">
            
                <input
                type="name"
                name="FirstName"
                placeholder="First Name"
                class="form-input"
                />
            
           
            
                <input
                type="name"
                name="LastName"
                placeholder="Last Name"
                class="form-input"
                />
            
           
           
             
                <input
                type="tel"
                name="Mobile"
                placeholder="Mobile"
                class="form-input"
                />
            
           
            
                <input
                type="email"
                name="email"
                placeholder="email"
                class="form-input"
                />
            
            
            
                <input 
                type="password"
                name="password"
                placeholder="password"
                class="form-input"
                />
            

            
                <select name = "role" class="form-input">
                <option value = "role" >--role--</option>
                <option value = "Manufacturer">Manufacturer</option>
                <option value = "Logistic">Logistic</option>
                <option value = "Seller">Seller</option>
                <option value = "Distributor">Distributor</option>
                <option value = "Customer">Customer</option>
                
             </select>

             
             
                <select name = "status" class="form-input">
                <option value = "inactive" selected >Inactive</option>
                <option value = "active">Active</option>
                
             </select>
           

            <button class="form-button">CREATE ACCOUNT</button>
        </form>
    </div>
    <p>Already have an account? <a href="/login" class="_login">Login</a> </p>
</body>
</html>